
<style>
    .card:hover .box-card {
    box-shadow: 0px 11px 18px rgba(0,0,0,0.3);
    transform: scale(1.025)
    }

    .box-card {
        transition: transform 200ms ease-in, box-shadow 200ms ease-in;
    }

    .box-card>img {
        border-radius: 5px;
    }
</style>
<div class="d-flex justify-content-around">
    <div class="card">
        <a href="http://localhost:3000/search?q=gi%E1%BA%A3i+m%C3%A3+b%C3%AD+m%E1%BA%ADt+ph%C6%B0%C6%A1ng+%C4%91%C3%B4ng" class="box-card">
            <img src="https://nhasachphuongnam.com/images/promo/267/2_T%E1%BB%B0A_S%C3%81CH_L%E1%BB%8ACH_S%E1%BB%AC_%C4%90%C3%81NG_%C4%90%E1%BB%8CC_2023_Banner_590x200_2.jpg" alt="">
        </a>
    </div>
    <div class="card">
        <a href="/product/14" class="box-card">
            <img src="https://nhasachphuongnam.com/images/promo/262/Banner_khan_gia_hoc.jpg" alt="">
        </a>
    </div>
</div>