<%- include('../layouts/header.ejs')%>
<div class="container mt-4">
    <h1 style="width: 100%; margin: auto; text-align: center;"><%= alearNotFound %></h1>
</div>


<%- include('../layouts/footer.ejs')%>
